<!DOCTYPE html>
<html>
    <head>
        <title>
            word2vec
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type= "text/css">

    </head>
    <body style="background-image: url('static/img/2.jpeg');">
     
    <div class="container">
      <a class="btn btn-primary" href="{{url_for('Homepage')}}">Home</a>
      <h1>word2vec</h1>
    
        <!-- <form id="form">
            <div class="form-group">
                <label>Enter text to predict topic<br />Topics are: atheism, computer graphics, christianity, politics, medical science</label>
                <input name="text_field" id="text_field" style="height: 200px;" type="text" class="form-control"
                    placeholder="Enter text here">
    
            </div>
            <button id="button-a" type="button" class="btn btn-primary">
              Submit
              <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
        </form> -->

        <!-- <div class="card" style="width: 18rem; margin-top: 3rem;">
          <div class="card-body">
            <h5 class="card-title">Response</h5>
            <p id="response" class="card-text">
              No response yet...
              <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
              </div>
            </p>
          </div>
        </div> -->
    </div>
      <script>
          $(document).ready(
            function(){
              $("#button-a").attr('disabled', true);
              $("#text_field").keyup(
                function(){
                  if ($(this).val().length != 0)
                    $("#button-a").attr('disabled', false);
                  else
                    $("#button-a").attr('disabled', true);
                }
              )
            }
          );

          $("#button-a").click(
            function(){
              $('.spinner-border').css('display', 'block')
              $.ajax({
                url: "{{url_for('Prediction')}}",
                method: 'post',
                data: {
                  text_field: $('#text_field').val()
                }
              })
              .done(function(res) {
                $('#response').text(res.prediction)
              })
              .fail(function(err) {
                Swal.fire({
                  icon: 'error',
                  title: err.statusText || 'Error',
                  showConfirmButton: true,
                  timer: 20000
                })
              })
              .always(function() {
                $('.spinner-border').css('display', 'none')
              })
            }
          );
      </script>
    </body>
</html>
